@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=IBM+Plex+Mono:wght@400;500&display=swap");
@import "tailwindcss";

@theme {
	--font-mono: "JetBrains Mono", monospace;
	--font-secondary: "IBM Plex Mono", monospace;

	--color-bg-page: #0a0a0a;
	--color-bg-surface: #0f0f0f;
	--color-bg-elevated: #1a1a1a;
	--color-bg-input: #111111;

	--color-text-primary: #fafafa;
	--color-text-secondary: #6b7280;
	--color-text-tertiary: #4b5563;

	--color-border-primary: #2a2a2a;
	--color-border-focus: #10b981;

	--color-accent-green: #10b981;
	--color-accent-red: #ef4444;
	--color-accent-amber: #f59e0b;
	--color-accent-blue: #3b82f6;

	--color-diff-added-bg: #0a1a0f;
	--color-diff-removed-bg: #1a0a0a;

	--color-syn-keyword: #c678dd;
	--color-syn-function: #61afef;
	--color-syn-variable: #e06c75;
	--color-syn-operator: #abb2bf;
	--color-syn-string: #e5c07b;
	--color-syn-number: #d19a66;
	--color-syn-property: #98c379;
	--color-syn-type: #e5c07b;
}

@layer base {
	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	/* remove setas */
	::-webkit-scrollbar-button {
		display: none;
		width: 0;
		height: 0;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: rgba(120, 120, 120, 0.3);
		border-radius: 9999px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: rgba(120, 120, 120, 0.6);
	}

	/* Firefox */
	* {
		scrollbar-width: thin;
		scrollbar-color: rgba(120, 120, 120, 0.5) transparent;
	}
}
